* {
    margin:  0;
    padding: 0;
    border:  0;
}

body{
    background:rgb(225, 225, 225);
    font-size: large;
    padding:10px;
    max-width:1200px;
    margin:0 auto;
}

header{
    background: rgb(225, 225, 225);
}

/*+++++++++++++++ MENU ++++++++++++++++++ */
nav{
    background: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/*+++++++++++++++ ---- ++++++++++++++++++ */

section{
    background: rgb(225, 225, 225);
    text-align:left;
}

article{
    text-align:center;
}
aside{
    background: rgb(225, 225, 225);
    padding:5%;
}

footer{  
    background: rgb(155, 155, 155);
}

img{
    max-width: 100%;
}

.botonSup {
    width: 96%;
    padding: 2% 2%;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.degradado{
    background: rgba(255, 255, 255, 0.5);
        border-radius: 20px 20px 20px 20px;
}
.colorsup{
    font-size:22px;
    text-align: center;
    background: rgb(51, 187, 255);
    height:50px;
   /* width: 600px;*/
    border-radius: 20px 20px 0px 0px;
}