table{
border-radius: 25px;
border: 3px solid rgba(255, 255, 255, 0.5); 
  
}
.colorVerdesup{
    font-size:22px;
    text-align: center;
    background: rgb(51, 187, 255);
    height:50px;
   /* width: 600px;*/
    border-radius: 20px 20px 0px 0px;
}
.colorVerdeinf{
    font-size:22px;
    text-align: center;
    background: rgb(51, 187, 255);
    height:50px;
    width: 600px;
    border-radius: 0px 0px 20px 20px;
}

.boton{
    height:30px;
    min-width:140px;
    margin:2px auto;
    background: rgb(242, 242, 242);
    border: 2px solid rgb(200, 200, 200); 

}

.formulario{
    width:96%;
    padding:2% 2%;
    text-align:left;
    font-size: 20px;
    
}

.td{
    text-align:left;
    padding: 10px;
}

.centrado{
margin: auto;
}
.borde{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(51, 187, 255); 
  border-radius: 4px;
 
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 18px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 18px rgba(102, 175, 233, .6);
}

.bordeText{
  display: inline-block;
  width: 70%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: rgb(60, 60, 60);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(51, 187, 255); 
  border-radius: 4px;
 
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 18px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 18px rgba(102, 175, 233, .6);
  
}
