body{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

header{
    grid-column: 1 / -1;
}

nav{
    grid-column: 1 / -1;
}

section{
    grid-column: 1/ -5;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

section > h2{
    grid-column: 1 / -1;
}

aside{
    grid-column: 6 / -1;
}

footer{
    grid-column: 1 / -1;
}

/***********************************************
                RESPONSIVE GRID
***************************************************/

@media only screen and (max-width: 800px) {

   nav{
        grid-column: 1 / -1;
    }
    section{
        grid-column: 1 / -1;
        grid-template-columns: repeat(1, 1fr);
    }
    article{
        text-align: center;
    }
    aside{
        grid-column: 1 / -1;
    }
}
